@font-face {
    font-family: "Nunito";
    src: url("Nunito.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Theano Didot";
    src: url("Theano Didot.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #ffd693;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Nunito";
}

.back {
    margin-top: 2vh;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 0vh;
}

h2 {
    margin-top: 2vh;
    margin-bottom: 1vh;
}

p {
    margin-bottom: 0.5vh;
}

content {
    min-height: 75vh;
    flex: 1;
}

content.writer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

content.book {
    font-family: "Theano Didot";
    width: 90%;
}

.text_block {
    flex: 1;
}